.info {
  padding: 10px;
  float: left;
  width: 60%;
}

ul {
  padding: 0px !important;
}

h1 {
  font-size: 27px;
  display: inline;
  color: #d9eeff;
  padding: 2px;
  vertical-align: 7px;
  cursor: pointer;
}

.icon {
  width: 35px;
}

.redes ul li {
  margin-left: 14px;
  display: inline;
  float: left;
}

.redes ul li a {
  margin: 10px;
}

.redes ul li a img {
  height: 37px;
  margin-left: 13px;
}


.redes {
  float: right;
  width: 37%;
  margin: -6px;
}


/* info é o conteiner com as informações e height é a altura*/

main,
.content {
  margin: 0 auto;
  width: 980px;
  position: relative;
}


/* width é a largura e main é o elemento principal*/
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}


.App-header {
  background-color: #282c34;
  height: 60px;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.headerbaixo {
  background-color: rgb(255, 255, 255);
  width: 980px;
  margin: 0 auto;
  padding: 7px;
}

.menu-urls {
  height: 70px;
  border-bottom: 2px solid rgb(180, 180, 180);
}

.menu ul li {
  display: inline-block;
  color: aliceblue;
  margin-left: 15px;
  height: 46px;
}

.menu ul li:hover {
  border-bottom: 3px solid #76beff;
}

.menu ul li a {
  color: #a8a8a8;
  text-decoration: none;
  font-size: 18px;

}

.menu ul li a:hover {
  color: #76beff;
}

.menu {
  width: 70%;
  float: left;
}

.busca {
  float: right;
  width: 30%;
}

.busca input {
  background-size: 20px;
  background-image: url(../src/icons/busca.png);
  background-repeat: no-repeat;
  background-position: 97%;
  border: 1px solid rgb(177, 177, 177);
  width: 176px;
  height: 1px;
  margin-left: -23px;
  padding: 11px;
  margin-top: 16px;
  border-radius: 6px;
}

.main2 {
  width: 100%;
  float: left;
  position: relative;
}

.rec.rec-carousel-wrapper {
  height: 550px;
}

.rec.rec-slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 0px;
}

.rec.rec-carousel {
  background-color: #1b1b1b;
}

.rec.rec-arrow-left {
  position: absolute;
  z-index: 9;
  left: 255px;
  background-color: rgba(104, 104, 104, 0.4);
}

.rec.rec-arrow-right {
  position: absolute;
  z-index: 9;
  right: 355px;
  background-color: rgb(104, 104, 104, 0.4);
}

.rec.rec-pagination {
  margin-top: -3%;
  top: 105%;
  position: absolute;
  left: 49%;
}

.texto {
  text-align: center;
}

.texto h1 {
  text-transform: uppercase;
  color: #777777;
  cursor: default;
}

.texto strong {
  color: #494949;
}

.texto p {
  color: #a8a8a8;
  cursor: default;
}

.content {
  margin-top: 55px;
}

.texto-bloco {
  margin-top: 2em;
  text-align: center;
}

.main3 {
  padding-left: 15px;
  padding-right: 15px;
  width: 29%;
  float: left;
  position: relative;
}

h3 {
  color: #a8a8a8;
}

.texto-bloco strong {
  color: #494949;
  cursor: default;
}

.texto-bloco h3 {
  cursor: default;
}

.imagens-bloco {
  background-color: #eeeeee;
}

.imagem-bloco {
  height: 300px;
  border: 1px solid #c5c5c5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.imagem-bloco img {
  margin: 0 auto;
  width: 100%;
  height: auto;

}

.imagem-bloco b {
  text-align: center;
  color: #494949;

}

.imagem-bloco p {
  color: #a8a8a8;
}


.imagens-bloco:before {
  width: 100%;
  display: inline-block;
  content: '';
  height: 57px;
  background: #ffffff;
  background-image: url(./icons/seta.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.imagens-bloco::after {
  width: 100%;
  display: inline-block;
  content: '';
  height: 70px;
  background: #eeeeee;
}

.main4 {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}

.main4 img {
  cursor: pointer;
  height: 110px;
  padding-top: 1em;
  margin: 0 auto;
  vertical-align: middle;
}

.bloco-logos {
  height: 170px;
}

.bloco-logos img {
  margin-top: -39px;
}

.footer {
  text-align: center;
  background-color: #494949;
  height: 274px;
}

.footer h3 {
  margin-top: -8px;
  cursor: pointer;
  text-align: left;
  margin-left: 50px;
}

.footer p {
  width: 85%;
  cursor: pointer;
  text-align: left;
  color: #c2c2c2;
  margin-left: 50px;
}

.footer img {
  height: 31px;
  padding: initial;
}

.footer2 {
  background-color: #1b1b1b;
  height: 80px;

}

.footer2 p {
  color: rgb(104, 104, 104);
  margin: 0 auto;
  margin-block-start: -21px;

}

.footer2 h8 {
  color: rgb(104, 104, 104);
  ;
  float: right;
}